<!--

    Copyright (c) 2023 ウードン (yu_w_main@yahoo.co.jp)

-->
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy/MM/dd HH:mm:ss} %-5p %c{1} %t - %m%n</Property>
    </Properties>
 
    <Appenders>
        <Console name="sysout" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

	<Console name="syserr" target="SYSTEM_ERR" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
	<RollingFile name="file" fileName="./log/udon-pasuta.log" append="true" filePattern="./log/%d{yyyy-MM-dd}-udon-pasuta.log">
		<PatternLayout pattern="${LOG_PATTERN}" />
		<Policies>
			<OnStartuptriggeringPolicy />
			<SizeBasedTriggeringPolicy size="20 MB" />
			<TimeBasedtriggeringPolicy />
		</Policies>
		<DefaultRolloverStrategy fileIndex="max" min="1" max="3" />
	</RollingFile>
			
    </Appenders>
 
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="sysout" />
            <AppenderRef ref="file" />
        </Root>
    </Loggers>
</Configuration>